<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Daniel Cadigan | Developer</title>
    <link href="https://fonts.googleapis.com/css?family=Changa" rel="stylesheet">
    <link rel="stylesheet" href="assests/normalize.css">
    <link rel="stylesheet" href="assests/main.css">
  </head>
  <body>
    <header>
      <a href="/project" id="logo">
        <h1>Daniel Cadigan</h1>
        <h2>Web Developer</h2>
      </a>
      <nav>
        <ul>
          <a href="/about"><li>About</li></a>
          <a href="/project" class="selected"><li>Projects</li></a>
          <a href="/contact"><li>Contacts</li></a>
        </ul>
      </nav>
    </header>
    <div id="wrapper">
      <ul id="gallery">
        <li>
          <a href="https://scratch.mit.edu/projects/251601100/" target="_blank">
            <img src="assests/images/Screenshot from 2018-11-13 07-52-32.png" alt="scratch project">
          </a>
            <p>This project has the user dodge falling objects, that are moving towards them.</p>
        </li>
        <li>
          <a href="" target="_blank">
            <img src="assests/images/Screenshot from 2019-04-25 08-51-50.png" alt="JS Conf Landing Page">
          </a>
            <p>This project gives the user information on what the JS Conference is and what the can expect from the Conf.</p>
        </li>
      </ul>
    <footer>
      <img src="" alt="">
      <img src="" alt="">
      &copy;Warlock Developing
    </footer>
  </div>
  </body>
</html>
